<div class="container h-100">

    <mat-form-field>
        <div class="row">
            <div class="col-md-10">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </div>
            <div class="col-md-2">
                <button class="w-100" (click)="onCreate()" mat-raised-button color="primary" type="submit">Add</button>
            </div>
        </div>

    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-5">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/users/detail', element.id]"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/users/detail', element.id]"> {{element.firstName}}
            </td>
        </ng-container>


        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/users/detail', element.id]"> {{element.lastName}}
            </td>
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/users/detail', element.id]"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef> Permission </th>
            <td mat-cell [routerLink]="['/users/detail', element.id]" *matCellDef="let element"> {{element.permission}}
            </td>
        </ng-container>


        <!-- Delete Column -->
        <ng-container matColumnDef="delete" style="width: 100px;">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>

            <td mat-cell *matCellDef="let row" class="text-center">
                <button mat-icon-button (click)="onDelete(row)" type="button">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

</div>