<div class="w-100 h-100" style="height: -webkit-fill-available">
    <div class="row justify-content-center align-items-center h-100">
        <mat-card class="test-card tect-center w-50">
            <mat-card-header class="pb-2 pt-4" align="center">
                <mat-card-title>Please Login to Application</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formGroup" class="col text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Email" formControlName="email"
                                        [errorStateMatcher]="matcher">
                                </mat-form-field>
                                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width ">
                                    <input matInput placeholder="Password" type="password" formControlName="password">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions align="center">
                <div class="row">
                    <div class="col">
                        <button class="w-75" mat-raised-button (click)="onLogin(formGroup.value)"
                            [disabled]="formGroup.invalid">
                            Login
                        </button>
                    </div>
                </div>

                <p class="pt-2"><a href="#">Forgot Password?</a></p>
            </mat-card-actions>
            <mat-card-actions align="center" class="pb-4">
                <p class="pt-2"><a href="#">Don't have Account?</a></p>
                <button class="w-75" (click)="toRegister()" mat-raised-button>
                    Create Account
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>