.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 150px;
  padding-left: 16px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  margin-left: auto;
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.isHide {
  display: none;
}

.active {
  background-color: #d4dfff;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 10%;
  // margin-top: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nav-list {
  padding-top: 0px;
}

.profile-name {
  color: azure;
  font-size: small;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 15%;
}

.profile-nav {
  padding-top: 10%;
  background-image: linear-gradient(to top right, #7f7fd5, #90e5e3);
}

.bgClolr {
  background-image: linear-gradient(to top right, #7f7fd5, #90e5e3);
}
