<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style=" width: 250px;" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->

    <div class="profile-nav">
      <img
        src="https://previews.123rf.com/images/jly19/jly191704/jly19170400073/76875074-avatar-men-design-men-icon-vector-illustration.jpg"
        alt="Avatar" class="avatar">
      <h1 class="profile-name">First Name & Last Name</h1>
    </div>

    <mat-nav-list>
      <a mat-list-item href="dashboards">Dashboard</a>
      <a mat-list-item href="transactions" class="mb-5">Transaction</a>
      <a mat-list-item href="customers" class="mt-5">Customer</a>
      <a mat-list-item href="sales">Sales</a>
      <a mat-list-item href="products">Product</a>
      <a mat-list-item href="users">User</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>sdp-test</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>