<div class="w-100 h-100" style="height: -webkit-fill-available">
    <div class="row justify-content-center align-items-center h-100">
        <mat-card class="test-card tect-center w-50">
            <mat-card-header class="pb-2 pt-2" align="center">
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formGroup" class="col text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width ">
                                    <input matInput placeholder="First Name" type="text" formControlName="firstName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width ">
                                    <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Email" formControlName="email">
                                </mat-form-field>
                                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width ">
                                    <input matInput placeholder="Password" type="password" formControlName="password">
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width ">
                                    <input matInput placeholder="Confirm Password" type="password"
                                        formControlName="rePassword">
                                </mat-form-field>
                                <mat-error *ngIf="formGroup.get('rePassword').hasError('mustMatch')">
                                    Password does not match
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions align="center" class="pb-4">
                <div class="row">
                    <div class="col">
                        <button class="w-75" mat-raised-button (click)="onRegister(formGroup.value)"
                            [disabled]="formGroup.invalid">
                            Create Account
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>
</div>