<div class="container h-100">
    <div class="col-md-12 text-center">
        <h1 class="mat-h1 mt-4">Products</h1>

    </div>
    <div class="col-md-12">
        <div class="container h-100">

            <mat-form-field>
                <div class="row">
                    <div class="col-md-10">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </div>
                    <div class="col-md-2">
                        <button class="w-100" (click)="onCreate()" mat-raised-button color="primary"
                            type="submit">Add</button>
                    </div>
                </div>

            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-5">
                <!-- displayedColumns: string[] = ['id', 'productName', 'price', 'quantity', 'delete']; -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/products/detail', element.id]">
                        {{element.id}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/products/detail', element.id]">
                        {{element.productName}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/products/detail', element.id]">
                        {{element.price | number}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/products/detail', element.id]">
                        {{element.quantity| number}} </td>
                </ng-container>


                <!-- Delete Column -->
                <ng-container matColumnDef="delete" style="width: 100px;">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>

                    <td mat-cell *matCellDef="let row" class="text-center">
                        <button mat-icon-button (click)="onDelete(row)" type="button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

        </div>
    </div>

    <!-- <app-user-table></app-user-table> -->
</div>