<div class="container h-100 mt-4">
    <mat-card class=" col-md-8 shipping-card">
        <mat-card-header align="center">
            <mat-card-title>User</mat-card-title>
        </mat-card-header>
        <mat-card-content align="center">
            <form [formGroup]="formGroup">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="First Name" formControlName="productName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Last Name" formControlName="price">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email" type="number" formControlName="quantity">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Permission</mat-label>
                            <select matNativeControl formControlName="unit">
                                <option value="" selected></option>
                                <option value="piece">Piece</option>
                                <option value="pack">Pack</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>

            </form>

        </mat-card-content>
        <mat-card-actions align="center" class="mb-4">
            <button style="width: 20%;" mat-raised-button color="primary" (click)="onClose()"
                type="submit">Save</button>
            <button style="width: 20%;" mat-raised-button color="primary" (click)="onClose()"
                type="submit">Close</button>
        </mat-card-actions>
    </mat-card>


</div>