<mat-toolbar class="example-toolbar" color="primary">

    <button mat-icon-button (click)="clickExpanded()">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <img class="pr-2" src="../../../../assets/images/main-logo.png" width="40" height="40"> -->
    <!-- <h1 class="example-app-name m-0 p-0">Shaba Book Shop</h1> -->
    <span class="example-spacer"></span>

    <button mat-icon-button (click)="clickLogout()">
        <mat-icon>power_settings_new</mat-icon>
    </button>

</mat-toolbar>