<div class="container h-100">
    <div class="col-md-12 text-center">
        <h1 class="mat-h1 mt-4">Users</h1>

    </div>
    <div class="col-md-12">
        <app-user-table></app-user-table>
    </div>

    <!-- <app-user-table></app-user-table> -->
</div>